fire
python-dateutil

numpy
pandas
scipy
matplotlib
scikit-learn
sympy

pydantic
typeguard

xlsxwriter
openpyxl

pint
uncertainties
fluids
thermo
networkx
symbolic_equation

seaborn
bokeh
chart-studio
plotly
asttokens
